*
!package.json
!yarn.lock
!.yarnrc.yml
!tsconfig.json
!next.config.ts
!next-env.d.ts
!.prettierrc.json
!.prettierignore
!*.md
!Makefile
!compose.yaml
!src/
!src/**
!scripts/
!scripts/**
!migrations/
!migrations/**
!tests/
!tests/**
!public/
!public/**
!docs/
!docs/**
!docker/
!docker/**
**/.env
**/.env.*
**/node_modules
**/.next
**/*.tsbuildinfo
**/__pycache__
